.idea
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache
.vscode
.coverage
coverate_html_report
dist
poetry.lock
.tox
.mypy_cache
/site
*/__pycache__/*
*.py[cod]
build/
dist/
sdist/
var/
wheels/
*.mo
*.pot
