[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
factory-boy = "*"
v = {editable = true,version = "*"}

[packages]
fastapi = "*"
orjson = "*"
uvicorn = "*"
pydantic = {extras = ["email", "dotenv"],version = "*"}
typer = "*"
motor = "*"
ipython = "*"
pymongo = {extras = ["tls", "srv"],version = "*"}
gunicorn = "*"
coverage = "*"
faker = "*"
authlib = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
